/.vscode
/concatenate string.c
/concatenate string.exe
/find even and odd.c
/find even and odd.exe
/hxshxb.exe
/search and delete element in array.c
/search and delete element in array.exe
/tempCodeRunnerFile.c
/tempCodeRunnerFile.exe